* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "EB Garamond", serif;
  font-optical-sizing: auto;
  font-weight: 800;
  font-style: normal;
  scroll-behavior: smooth;
}

html {
  overflow-x: hidden;
  font-size: 92.5%;
}

body {
  color: #ededed;
  background-color: #1f1b1b;
}

/*--------------------header section-------------------*/
.header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  padding: 1.3rem 10%;
  background: rgba(229, 170, 21, 0.757);
  display: flex;
  justify-content: space-between;
  align-items: center;
  z-index: 100;
  box-shadow: 2px 2px 2px 5px rgba(229, 170, 21, 0.757);
}
.logo {
  position: relative;
  font-size: 2rem;
  color: #ededed;
  text-decoration: none;
  font-family: "Great Vibes", cursive;
  font-weight: 400;
  font-style: normal;
  cursor: default;
  opacity: 0;
  animation: slideRight 1s ease forwards;
}

.navbar a {
  font-size: 1.5rem;
  color: #ededed;
  text-decoration: none;
  font-weight: 500;
  margin-left: 3rem;
  transition: 0.3s;
  opacity: 0;
  animation: slideTop 0.5s ease forwards;
}
.navbar a:hover,
.navbar a.active {
  color: rgb(233, 189, 75);
  text-decoration: underline;
}

#menu-icon {
  font-size: 3rem;
  display: none;
}

/*--------------------Home section --------------*/

.home {
  position: relative;
  width: 100%;
  height: 100vh;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background: url(background.jpg) no-repeat;
  background-size: cover;
  background-position: center;
  padding: 70px 10% 0;
}

.home-content {
  max-width: 600px;
}
.home-content h3:nth-of-type(2) {
  margin-bottom: 2rem;
}

.home-content h3 {
  font-size: 2rem;
  font-weight: 700;
}
.home-content h3 span {
  color: rgba(229, 170, 21, 0.757);
}
.home-content h1 span {
  color: rgba(229, 170, 21, 0.757);
}
.home-content h1 {
  font-size: 4rem;
  font-weight: 700;
  margin: -3px 0;
  opacity: 0;
  animation: slideRight 1s ease forwards;
  animation-delay: 0.7s;
}
.home-content p {
  font-size: 1.5rem;
  opacity: 0;
  animation: slideLeft 1s ease forwards;
  animation-delay: 1s;
}
.home-sci a {
  display: inline-flex;
  justify-content: center;
  align-items: center;
  width: 2.3rem;
  height: 2.3rem;
  background: transparent;
  border: 2px solid rgba(229, 170, 21, 0.757);
  border-radius: 50%;
  font-size: 1.5rem;
  color: rgba(229, 170, 21, 0.757);
  text-decoration: none;
  margin: 2rem 1rem 2rem 0;
  transition: 0.5s ease;
}

.home-sci a:hover {
  background-color: rgba(229, 170, 21, 0.757);
  color: #ededed;
  box-shadow: 0 0 20px rgba(229, 170, 21, 0.757);
}

.btn-box {
  display: inline-block;
  padding: 0.7rem 2rem;
  background: rgba(229, 170, 21, 0.757);
  font-size: 1.1rem;
  font-weight: 600;
  border-radius: 4rem;
  color: #ededed;
  letter-spacing: 1px;
  text-decoration: none;
  opacity: 0;
  animation: slideTop 1s ease forwards;
  animation-delay: 2s;
  box-shadow: 0 0 5px rgba(229, 170, 21, 0.757),
    0 0 25px rgba(229, 170, 21, 0.433);
}
.btn-box:hover {
  box-shadow: 0 0 5px rgba(229, 170, 21, 0.229),
    0 0 15px rgba(229, 170, 21, 0.433), 0 0 20px rgba(229, 170, 21, 0.433),
    0 0 50px rgba(229, 170, 21, 0.433), 0 0 50px rgba(229, 170, 21, 0.242);
}

/*----------------------About section-----------------*/

.about {
  display: flex;
  justify-content: center;
  align-items: center;
  padding-bottom: 6rem;
  gap: 2rem;
}

.about-img img {
  width: 25vw;
  margin-right: 3rem;
  padding: 1rem;
  border-radius: 50%;
  border-right: 5px solid rgba(229, 226, 21, 0.244);
}
.about-text {
  margin-left: 2rem;
}

.about-text h2 {
  font-size: 4.2rem;
}
.about-text h2 span {
  color: rgba(229, 170, 21, 0.757);
}

.about-text h4 {
  font-size: 2rem;
  font-weight: 600;
  color: #ededed;
  line-height: 1.7;
  margin: 15px 0 30px;
}
.about-text p span {
  color: rgba(229, 170, 21, 0.757);
}
.about-text p {
  color: aliceblue;
  font-size: 1.2rem;
  line-height: 1.4;
  margin-bottom: 4rem;
}
.sub-title {
  font-size: 50px;
  padding: 70px 10% 0;
  margin-bottom: 6rem;
}

.sub-title span {
  color: rgba(229, 170, 21, 0.757);
}

/*------------skill section------------*/

.skill-container1 {
  display: flex;
  justify-content: space-around;
  align-items: center;
  margin: 3rem;
  box-sizing: border-box;
  flex-wrap: wrap;
}
.skill-container2 {
  display: flex;
  justify-content: space-around;
  align-items: center;
  margin: 3rem;
  box-sizing: border-box;
  flex-wrap: wrap;
}

.html {
  box-shadow: 5px 5px 5px rgb(221, 80, 9);
}
.css {
  box-shadow: 5px 5px 5px rgb(43, 112, 172);
}
.js {
  box-shadow: 5px 5px 5px rgb(205, 201, 2);
}
.react {
  box-shadow: 5px 5px 5px rgb(22, 141, 214);
}

.github {
  box-shadow: 5px 5px 5px rgb(235, 229, 229);
}

.cc {
  box-shadow: 5px 5px 5px rgb(8, 57, 142);
}
.java {
  box-shadow: 5px 5px 5px rgb(222, 19, 19);
}
.bootstrap {
  box-shadow: 5px 5px 5px rgb(97, 13, 200);
}

.skill-heading {
  margin-top: 1rem;
  padding: 8px;
}
.skill-img {
  margin-top: 1rem;
  padding: 5px;
}
.sk {
  text-align: center;
  height: 200px;
  width: 300px;
  margin: 1rem;
  border-radius: 10%;
}
.sk:hover {
  box-shadow: 5px 2px 10px 5px rgba(229, 170, 21, 0.757);
}

/*-----------project section-------------------*/

.project-container1 {
  display: flex;
  justify-content: space-around;
  align-items: center;
  margin: 3rem;
  box-sizing: border-box;
  flex-wrap: wrap;
  transition: all 5s ease;
}
.project-container2 {
  display: flex;
  justify-content: space-around;
  align-items: center;
  margin: 3rem;
  box-sizing: border-box;
  flex-wrap: wrap;
  transition: all 0.5s ease;
}
.project-img {
  height: 200px;
  width: 400px;
  margin-top: 1rem;
  padding: 5px;
  border: 3px solid #ededed;
  border-radius: 3%;
}
.project-container1 img:hover {
  transform: scale(1.04) translateX(-8px);
}
.project-container2 img:hover {
  transform: scale(1.04) translateX(-8px);
}
.palette {
  box-shadow: 5px 5px 5px 3px rgb(0, 0, 0);
}
.simonsays {
  box-shadow: 5px 5px 5px 3px rgb(0, 0, 0);
}
.yummy {
  box-shadow: 5px 5px 5px 3px rgb(0, 0, 0);
}
.spotify {
  box-shadow: 5px 5px 5px 3px rgb(0, 0, 0);
}
.p-btn {
  display: inline-block;
  padding: 4px 15px;
  background: rgba(229, 170, 21, 0.757);
  font-size: 14px;
  font-weight: 600;
  border-radius: 40px;
  color: #ededed;
  letter-spacing: 1px;
  text-decoration: none;
  box-shadow: 0 0 5px rgba(229, 170, 21, 0.757);
}
.p-btn:hover {
  box-shadow: 2px 2px 2px #ededed;
}
.project-para {
  padding: 5px;
  margin-bottom: 1rem;
  margin-left: 2rem;
  text-align: center;
  line-height: 23px;
}
.project-heading {
  color: rgba(229, 170, 21, 0.757);
  padding: 6px;
}
.pc {
  text-align: center;
  height: 360px;
  width: 600px;
  transition: 0.5s ease;
  border-radius: 10%;
}

.pc:hover {
  box-shadow: 5px 2px 10px 5px rgba(229, 170, 21, 0.757);
}

/*--------------- contact section--------------  */
.contact {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  align-items: center;
  gap: 3rem;
  padding-left: 30px;
  margin-top: 130px;
}

.contact-text h2 {
  font-size: 90px;
  line-height: 1;
  text-align: center;
}

.contact-text h2 span {
  color: rgba(229, 170, 21, 0.757);
}
.contact-text h4 {
  margin: 15px 0;
  color: #ededed;
  font-size: 20px;
  font-weight: 600;
}
.contact-text h4 span {
  color: rgba(229, 170, 21, 0.757);
}

.contact-text p {
  color: #ededed;
  font-size: 20px;
  line-height: 30px;
  margin-bottom: 2rem;
}
.contact-list {
  margin-bottom: 3rem;
}
.contact-list li {
  margin-bottom: 10px;
  display: block;
}
.contact-list i {
  display: inline-block;
  color: rgba(229, 170, 21, 0.757);
  font-size: 20px;
  font-weight: 600;
  transition: all 0.4s ease;
  padding: 10px;
}
.contact-list i:hover {
  transform: scale(1.01) translateY(-5px);
  color: #ededed;
}
.contact-icon a {
  display: inline-flex;
  justify-content: center;
  align-items: center;
  width: 40px;
  height: 40px;
  background: transparent;
  border: 2px solid rgba(229, 170, 21, 0.757);
  border-radius: 50%;
  font-size: 20px;
  color: rgba(229, 170, 21, 0.757);
  text-decoration: none;
  margin: 30px 15px 30px 0;
  transition: 0.5s ease;
  opacity: 0;
  animation: slideLeft 1s ease forwards;
  animation-delay: 0.2s;
}

.contact-icon a:hover {
  background: rgba(229, 170, 21, 0.757);
  color: #ededed;
  box-shadow: 0 0 20px rgba(229, 170, 21, 0.757);
}

.contact-form form input {
  position: relative;
}
.contact-form form input,
form textarea {
  border: none;
  outline: none;
  width: 90%;
  padding: 18px;
  background: #dcdadac7;
  color: #555557;
  font-size: 1rem;
  font-weight: 600;
  margin-bottom: 0.5rem;
  border-radius: 0.5rem;
}
.contact-form textarea {
  resize: none;
  height: 220px;
}
.contact-form form .send {
  display: inline-block;
  padding: 10px 60px;
  background: rgba(229, 170, 21, 0.757);
  border-radius: 40px;
  font-size: 1.5rem;
  color: #ededed;
  letter-spacing: 1px;
  text-decoration: none;
  font-weight: 500;
  opacity: 0;
  cursor: pointer;
  animation: slideTop 1s ease forwards;
  animation-delay: 2s;
  box-shadow: 0 0 5px rgba(229, 170, 21, 0.395),
    0 0 25px rgba(229, 170, 21, 0.395);
}
.contact-form form .send:hover {
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.934), 0 0 25px rgba(0, 0, 0, 0.658),
    0 0 50px rgba(0, 0, 0, 0.658), 0 0 100px rgba(0, 0, 0, 0.658),
    0 0 200px rgba(0, 0, 0, 0.658);
}

/*-----------------Footer section-------------------*/

.footer {
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-wrap: nowrap;
  padding: 0.5rem 9%;
  letter-spacing: 1px;
  background-color: rgba(229, 170, 21, 0.757);
}
.footer-text {
  font-size: 1.1rem;
  margin-left: 25rem;
}

.footerIcon {
  display: inline-flex;
  justify-content: center;
  align-items: center;
  padding: 0.1rem 0.3rem;
  border-radius: 0.8rem;
  background-color: #ffffffee;
  transition: 0.5s ease;
  margin-left: 25rem;
}

.footerIcon i {
  font-size: 1.2rem;
  font-weight: 900;
  color: rgba(229, 170, 21, 0.757);
}
.footerIcon i:hover {
  transform: scale(1.01) translateY(-5px);
}

.footerIcon a:hover {
  box-shadow: 5px rgba(253, 252, 252, 0.86);
}

/*-----------keyframes-------------*/

@keyframes slideRight {
  0% {
    transform: translateX(-100px);
    opacity: 0;
  }
  100% {
    transform: translateX(0px);
    opacity: 1;
  }
}
@keyframes slideLeft {
  0% {
    transform: translateX(100px);
    opacity: 0;
  }
  100% {
    transform: translateX(0px);
    opacity: 1;
  }
}

@keyframes slideTop {
  0% {
    transform: translateY(100px);
    opacity: 0;
  }
  100% {
    transform: translateY(0px);
    opacity: 1;
  }
}

/* ------------------responsiveness---------------- */

@media (max-width: 1250px) {
  html {
    font-size: 88.1%;
  }
  .home {
    background: none;
    align-items: flex-start;
    justify-content: space-around;
    height: 60vh;
    padding: 100px 15% 0;
  }
  .sk {
    margin: 2rem;
  }

  .about-img img {
    width: 40vw;
    border-top: 3px solid rgba(229, 226, 21, 0.244);
  }
}

@media (max-width: 1000px) {
  .header {
    padding: 1rem 5%;
  }

  .home-content {
    padding: 1rem;
  }

  .about {
    padding: 2rem;
  }
  .about-img img {
    width: 50vw;
  }

  .contact {
    min-height: auto;
  }
  .footer {
    padding: 0.5rem 2%;
  }

  .footerIcon {
    margin-left: 15rem;
  }
}

@media (max-width: 900px) {
  html {
    font-size: 75.1%;
  }
  #menu-icon {
    display: block;
  }
  .header {
    background-color: #1f1b1b;
    box-shadow: 2px 2px 2px 5px rgb(30, 24, 13);
  }

  .navbar {
    position: absolute;
    top: 100%;
    left: 0;
    width: 100%;
    padding: 1rem 3%;
    border-top: 0.1rem solid rgba(0, 0, 0, 0.2);
    box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.2);
    background-color: rgba(229, 170, 21, 0.757);
    display: none;
  }
  .navbar.active {
    display: block;
  }
  .navbar a {
    display: block;
    font-size: 1.5rem;
    margin: 3rem 0;
  }
  .home {
    padding: 60px 9% 0;
    height: 70vh;
  }
  .home-content {
    padding: 3rem;
  }
  .home-content h3 {
    font-size: 2rem;
  }
  .home-content h1 {
    font-size: 4rem;
  }
  .home-content p {
    font-size: 1.3rem;
  }
  .about {
    flex-direction: column;
  }
  .about-img img {
    width: 60vw;
    border-top: 3px solid rgba(229, 226, 21, 0.244);
  }
  .about-text h4 {
    margin: 0 0 25px;
  }

  .pc {
    margin-bottom: 1rem;
  }

  .sub-title {
    font-size: 45px;
    margin-bottom: 3rem;
    padding: 45px 10% 0;
  }
  .contact {
    padding-left: 25px;
    margin-top: 100px;
  }

  .contact-text p {
    font-size: 15px;
    line-height: 25px;
    margin-bottom: 1rem;
  }

  .contact-text h2 {
    font-size: 65px;
    margin-bottom: 1rem;
  }
  .contact-list {
    margin-bottom: 1rem;
  }
  .contact-list li {
    margin-bottom: 0;
  }
  .contact-form form input {
    width: 95%;
  }
  .contact-form textarea {
    width: 95%;
  }
  .footer p {
    display: inline-block;
  }
}

@media (max-width: 650px) {
  .home {
    height: 52vh;
  }
  .home-content {
    padding: 2rem;
  }
  .home-content h1 {
    font-size: 3rem;
  }
  .home-content h3 {
    font-size: 1.5rem;
  }
  .home-content h3:nth-of-type(2) {
    margin-bottom: 1rem;
  }
  .about-img img {
    width: 55vw;
  }
  .about-text h2 {
    font-size: 3.5rem;
  }
  .about-text h4 {
    font-size: 1.5rem;
    font-weight: 600;
    margin: 0 0 15px;
  }
  .about-text p {
    font-weight: 500;
    font-size: 1.1rem;
    line-height: 1.4;
  }
  .btn-box {
    padding: 0.7rem 1rem;
    font-size: 1rem;
  }
  .sub-title {
    font-size: 40px;
    padding: 30px 10% 0;
  }
  .sk {
    height: 180px;
    width: 230px;
  }
  .project-img {
    height: 170px;
    width: 335px;
    margin-top: 1rem;
    padding: 0;
    border: 2px solid #ededed;
  }
  .project-para {
    padding: 0px;
    margin-bottom: 1rem;
    margin-left: 2rem;
    line-height: 15px;
    font-weight: 500;
    display: none;
  }

  .p-btn {
    padding: 3px 14px;
    font-size: 13px;
    font-weight: 500;
  }
  .pc {
    height: 250px;
    width: 360px;
    margin-bottom: 1rem;
  }
  .contact {
    grid-template-columns: repeat(1, 1fr);
  }
  .contact-text h2 {
    font-size: 60px;
  }
  .contact-text p {
    line-height: 21px;
    font-weight: 500;
  }

  .footerIcon {
    margin-left: 0;
  }
  .footer-text {
    font-size: 1rem;
    margin-left: 5rem;
  }
}
